<div class="container box">
<div class="row center-form">
  <div class="col-3">
    <form  novalidate (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
           {{errorMessage}}
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput autocomplete="off" [(ngModel)]="loginModel.Username" placeholder="username" required name="txtUserName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput autocomplete="off" [(ngModel)]="loginModel.Password" placeholder="password" required type="password" name="txtPassword">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
</div>


