<ng-container *ngIf="!authenticated">
  <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="authenticated">
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>valores-global</span>
    <span class="toolbar-spacer"></span>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="logout()">
        <mat-icon aria-label="Side nav toggle icon">logout</mat-icon>
      </button>
  </mat-toolbar>
  <mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer mode="over" class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'">
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
