<div class="container">
  <div class="row">
    <div class="col"> 
      <div class="card-widget">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula ligula neque, sit amet posuere sapien dignissim id. Phasellus et sem ante. Nam mauris enim, volutpat eu ullamcorper non, vestibulum eu enim. Vivamus sit amet semper orci, ac tempus leo. Quisque tempus nibh sit amet aliquet vulputate. Integer metus mauris, pretium sit amet eros nec, gravida tincidunt eros. Nullam pellentesque tellus ipsum. Suspendisse suscipit rutrum nibh, quis sagittis enim auctor eu. Proin lectus nulla, ullamcorper a eros vitae, gravida condimentum ligula. In lobortis tempus dolor id dapibus. Nam eu diam at lectus elementum tempus. Duis auctor euismod enim, iaculis egestas massa tempus ut. Sed dolor lectus, efficitur quis finibus nec, vehicula quis nibh. Nam viverra sem id lacus ullamcorper, vel dignissim quam malesuada. Quisque tempus diam non malesuada dapibus. Suspendisse sit amet condimentum neque.

        Cras feugiat nec diam egestas accumsan. Donec arcu ligula, interdum nec cursus gravida, cursus et elit. Morbi eget molestie odio. Nam vel volutpat ex, sed ullamcorper nisi. Aenean tristique mi quis mauris ornare, nec sollicitudin ex efficitur. Mauris non bibendum lorem. Vivamus mauris est, faucibus id purus porta, viverra maximus magna. Donec placerat diam et augue imperdiet vestibulum.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"> 
      <div class="card-widget">
        <app-chart></app-chart>
      </div>
    </div>
    <div class="col"> 
      <div class="card-widget">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula ligula neque, sit amet posuere sapien dignissim id. Phasellus et sem ante. Nam mauris enim, volutpat eu ullamcorper non, vestibulum eu enim. Vivamus sit amet semper orci, ac tempus leo. Quisque tempus nibh sit amet aliquet vulputate. Integer metus mauris, pretium sit amet eros nec, gravida tincidunt eros. Nullam pellentesque tellus ipsum. Suspendisse suscipit rutrum nibh, quis sagittis enim auctor eu. Proin lectus nulla, ullamcorper a eros vitae, gravida condimentum ligula. In lobortis tempus dolor id dapibus. Nam eu diam at lectus elementum tempus. Duis auctor euismod enim, iaculis egestas massa tempus ut. Sed dolor lectus, efficitur quis finibus nec, vehicula quis nibh. Nam viverra sem id lacus ullamcorper, vel dignissim quam malesuada. Quisque tempus diam non malesuada dapibus. Suspendisse sit amet condimentum neque.

        Cras feugiat nec diam egestas accumsan. Donec arcu ligula, interdum nec cursus gravida, cursus et elit. Morbi eget molestie odio. Nam vel volutpat ex, sed ullamcorper nisi. Aenean tristique mi quis mauris ornare, nec sollicitudin ex efficitur. Mauris non bibendum lorem. Vivamus mauris est, faucibus id purus porta, viverra maximus magna. Donec placerat diam et augue imperdiet vestibulum.
      </div>
    </div>
  </div>
</div>